body {
	background-color: #f5f5f5;
	font-family: arial, cursive;
}
p {
	color: #ccc;
}
nav {
	width: 100%;
	display: block;
	background-color: #fff;
	margin-top: -20px;
}
nav ul li {
	list-style: none;
}
#hom {
	height: 40px;
	width: 40px;
}
#instag {
	margin-left: 450px;
	height: 50px;
	width: 120px;
}
#instpix {
	height: 40px;
	width: 40px;
	float: right;
	border-radius: 50%;
	padding: 10px 10px;
}
#div0 {
	margin-top: 50px;
	margin-bottom: -50px;
}
#post {
	margin-left: 420px;
	color: #ccc;
}
#tile {
	height: 20px;
	width: 20px;
	margin-left: 625px;
}
#list {
	height: 20px;
	width: 20px;
	float: right;
	margin-right: 20px;
}
aside {
	float: left;
	margin-top: 60px;
	width: 30%;
	padding: 5px; 
}
#part1 {
	background-color: #fff;
}
#part1 img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: -30px;
}
#btn {
	height: 30px;
	width: 100px;
	border: none;
	border-radius: 15px;
	background-color: #088A08;
	color: #fff;
}
#btn:hover {
	background-color: #5276b8;
}
#div1 {
	width: 49.3%;
	float: left;
	border: 1px solid #d6d6c2;
}
#div2 {
	width: 49.5%;
	float: left;
	border: 1px solid #d6d6c2;
}
#div3 {
	width: 95.5%;
	height: 50px;
	display: block;
	margin-top: 97px;
	margin-bottom: 50px;
	border: 1px solid #d6d6c2;
	padding-top: 15px;
	padding-left: 15px;
	color: #ccc;
	text-align: left;
}
#div3 img {
	height: 20px;
	width: 20px;
}
#part2 {
	margin-top: 90px;
}
#img5 {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	clear: both;
	float: left;
}
#imag {
	width: 29%;
}
#text {
	width: 69%;
	float: right;
	margin-top: -20px;
	margin-right: 5px;	
}
#text p {
	margin-top: -20px; 
}
section {
	float: right;
	margin-top: 31px;
	width: 69%;
}
.images img {
	height: 130px;
	width: 130px;
	float: right;
	display: inline-block;
	margin: 15px;
	border: 5px solid #fff;
}
img { transition: all .2s ease-in-out; }
img:hover { transform: scale(1.5); }

/*for mobile*/
@media only screen and (max-width: 500px) {
	body {
		background-color: #d9ebcf;
	}
	nav {
		width: 100%;
		margin-top: -12px;
	}
	#hom {
	height: 28px;
	width: 28px;
	margin-left: -23px;
	}
	#instag {
	margin-left: 130px;
	height: 30px;
	width: 80px;
	}
	#instpix {
	height: 30px;
	width: 30px;
	float: right;
	border-radius: 50%;
	margin-top: -8px;
	}
	#div0 {
		width: 100%;
	}
	#post {
	margin-left: 15px;
	color: #ccc;
	}
	#tile {
	height: 20px;
	width: 20px;
	margin-left: 200px;
	}
	#list {
	height: 20px;
	width: 20px;
	float: right;
	margin-right: 20px;
	}
	section {
		width: 100%;
	}
	.images img {
		width: 100%;
		height: 330px;
		display: block;
		margin: 5px;
		border: 5px solid #fff;
		border-radius: 15%;
	}
	img:hover { transform: scale(1.1); }

	aside {
		margin-left: -500px;
	}
}
/*for tablet*/
@media only screen and (min-width: 501px) and (max-width: 799px) {
	body {
		background-color: #cee6c1;
	}
	nav {
		width: 100%;
		margin-top: -10px;
	}
	#hom {
	height: 37px;
	width: 37px;
	margin-left: -30px;
	margin-bottom: 5px; 
	}
	#instag {
	margin-left: 230px;
	height: 50px;
	width: 115px;
	}
	#instpix {
	height: 35px;
	width: 35px;
	float: right;
	border-radius: 50%;
	margin-top: -3px;
	}
	#div0 {
		width: 100%;
	}
	#post {
	margin-left: 10px;
	color: #ccc;
	}
	#tile {
	height: 20px;
	width: 20px;
	margin-left: 450px;
	}
	#list {
	height: 20px;
	width: 20px;
	float: right;
	margin-right: 20px;
	}
	aside {
	float: left;
	margin-top: 60px;
	width: 33%;
	padding: 3px;
}
#part1 {
	background-color: #fff;
}
#part1 img {
	height: 80px;
	width: 80px;
	border-radius: 50%;
	margin-top: -30px;
}
#btn {
	height: 30px;
	width: 100px;
	border: none;
	border-radius: 15px;
	background-color: #088A08;
	color: #fff;
}
#btn:hover {
	background-color: #5276b8;
}
#div1 {
	width: 49%;
	float: left;
	border: 1px solid #d6d6c2;
}
#div2 {
	width: 49%;
	float: left;
	border: 1px solid #d6d6c2;
}
#div3 {
	width: 92.5%;
	height: 50px;
	display: block;
	margin-top: 97px;
	margin-bottom: 50px;
	border: 1px solid #d6d6c2;
	padding-top: 15px;
	padding-left: 15px;
	color: #ccc;
	text-align: left;
}
#div3 img {
	height: 20px;
	width: 20px;
}
#part2 {
	margin-top: 90px;
}
#img5 {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	clear: both;
	float: left;
}
#imag {
	width: 29%;
}
#text {
	width: 69%;
	float: right;
	margin-top: -20px;
	margin-right: px;	
}
#text p {
	margin-top: -20px; 
}
	section {
		width: 65%;
		margin-top: 39px;
	}
	.images img {
		width: 200px;
		height: 200px;
		display: inline-block;
		margin: 5px;
		border: 5px solid #fff;
	}
	img:hover { transform: scale(1.3); }
}
/*for pc*/
@media only screen and (min-width: 800px) {
	body {
		background-color: #eff7eb;
	}
}